body {
  margin: auto;
  /*background-color: #96ced8;*/
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

.content {
  margin: 0;
  width: 100%;
  min-height: 800px;
  padding: 0;
}

footer.nb-footer {
  background: #222;
  border-top: 4px solid #b78c33;
}

footer.nb-footer .about {
  margin: auto;
  max-width: 1170px;
  text-align: center;
}

footer.nb-footer .about .social-media ul li a {
  margin-top: 5px;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #b78c33;
  padding-top: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media ul li a:hover {
  background: #b78c33;
  color: #fff;
  border-color: #b78c33;
}

footer.nb-footer .copyright {
  background: #111;
  padding: 7px 0;
  color: #999;
}

footer.nb-footer .copyright p {
  margin: 0;
  padding: 0;
}
